@font-face {
    font-family: 'CronosMM';
    src: url('../webfonts/cronos-mm/CronosPro-Bold.eot');
    src: url('../webfonts/cronos-mm/CronosPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../webfonts/cronos-mm/CronosPro-Bold.woff2') format('woff2'),
    url('../webfonts/cronos-mm/CronosPro-Bold.woff') format('woff'),
    url('../webfonts/cronos-mm/CronosPro-Bold.ttf') format('truetype'),
    url('../webfonts/cronos-mm/CronosPro-Bold.svg#CronosPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'CronosMM';
    src: url('../webfonts/cronos-mm/CronosPro-LtDisp.eot');
    src: url('../webfonts/cronos-mm/CronosPro-LtDisp.eot?#iefix') format('embedded-opentype'),
    url('../webfonts/cronos-mm/CronosPro-LtDisp.woff2') format('woff2'),
    url('../webfonts/cronos-mm/CronosPro-LtDisp.woff') format('woff'),
    url('../webfonts/cronos-mm/CronosPro-LtDisp.ttf') format('truetype'),
    url('../webfonts/cronos-mm/CronosPro-LtDisp.svg#CronosPro-LtDisp') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'CronosMM';
    src: url('../webfonts/cronos-mm/CronosPro-SemiboldCapt.eot');
    src: url('../webfonts/cronos-mm/CronosPro-SemiboldCapt.eot?#iefix') format('embedded-opentype'),
    url('../webfonts/cronos-mm/CronosPro-SemiboldCapt.woff2') format('woff2'),
    url('../webfonts/cronos-mm/CronosPro-SemiboldCapt.woff') format('woff'),
    url('../webfonts/cronos-mm/CronosPro-SemiboldCapt.ttf') format('truetype'),
    url('../webfonts/cronos-mm/CronosPro-SemiboldCapt.svg#CronosPro-SemiboldCapt') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'CronosMM';
    src: url('../webfonts/cronos-mm/CronosPro-Subh.eot');
    src: url('../webfonts/cronos-mm/CronosPro-Subh.eot?#iefix') format('embedded-opentype'),
    url('../webfonts/cronos-mm/CronosPro-Subh.woff2') format('woff2'),
    url('../webfonts/cronos-mm/CronosPro-Subh.woff') format('woff'),
    url('../webfonts/cronos-mm/CronosPro-Subh.ttf') format('truetype'),
    url('../webfonts/cronos-mm/CronosPro-Subh.svg#CronosPro-Subh') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CronosMM';
    src: url('../webfonts/cronos-mm/CronosPro-Semibold.eot');
    src: url('../webfonts/cronos-mm/CronosPro-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../webfonts/cronos-mm/CronosPro-Semibold.woff2') format('woff2'),
    url('../webfonts/cronos-mm/CronosPro-Semibold.woff') format('woff'),
    url('../webfonts/cronos-mm/CronosPro-Semibold.ttf') format('truetype'),
    url('../webfonts/cronos-mm/CronosPro-Semibold.svg#CronosPro-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'CronosMM';
    src: url('../webfonts/cronos-mm/CronosPro-Regular.eot');
    src: url('../webfonts/cronos-mm/CronosPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../webfonts/cronos-mm/CronosPro-Regular.woff2') format('woff2'),
    url('../webfonts/cronos-mm/CronosPro-Regular.woff') format('woff'),
    url('../webfonts/cronos-mm/CronosPro-Regular.ttf') format('truetype'),
    url('../webfonts/cronos-mm/CronosPro-Regular.svg#CronosPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CronosMM';
    src: url('../webfonts/cronos-mm/CronosPro-SemiboldIt.eot');
    src: url('../webfonts/cronos-mm/CronosPro-SemiboldIt.eot?#iefix') format('embedded-opentype'),
    url('../webfonts/cronos-mm/CronosPro-SemiboldIt.woff2') format('woff2'),
    url('../webfonts/cronos-mm/CronosPro-SemiboldIt.woff') format('woff'),
    url('../webfonts/cronos-mm/CronosPro-SemiboldIt.ttf') format('truetype'),
    url('../webfonts/cronos-mm/CronosPro-SemiboldIt.svg#CronosPro-SemiboldIt') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'CronosMM';
    src: url('../webfonts/cronos-mm/CronosPro-Lt.eot');
    src: url('../webfonts/cronos-mm/CronosPro-Lt.eot?#iefix') format('embedded-opentype'),
    url('../webfonts/cronos-mm/CronosPro-Lt.woff2') format('woff2'),
    url('../webfonts/cronos-mm/CronosPro-Lt.woff') format('woff'),
    url('../webfonts/cronos-mm/CronosPro-Lt.ttf') format('truetype'),
    url('../webfonts/cronos-mm/CronosPro-Lt.svg#CronosPro-Lt') format('svg');
    font-weight: 300;
    font-style: normal;
}

