@font-face {
    font-family: 'DroidArabicKufi';
    src: url('../webfonts/droid-arabic-kufi/DroidArabicKufi.eot?#iefix') format('embedded-opentype'),
    url('../webfonts/droid-arabic-kufi/DroidArabicKufi.woff') format('woff'),
    url('../webfonts/droid-arabic-kufi/DroidArabicKufi.ttf') format('truetype'),
    url('../webfonts/droid-arabic-kufi/DroidArabicKufi.svg#DroidArabicKufi') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DroidArabicKufi';
    src: url('../webfonts/droid-arabic-kufi/DroidArabicKufi-Bold.eot?#iefix') format('embedded-opentype'),
    url('../webfonts/droid-arabic-kufi/DroidArabicKufi-Bold.woff') format('woff'),
    url('../webfonts/droid-arabic-kufi/DroidArabicKufi-Bold.ttf') format('truetype'),
    url('../webfonts/droid-arabic-kufi/DroidArabicKufi-Bold.svg#DroidArabicKufi-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
