/********** initialize *************************************************************************************************/
body {
    font-family: DroidArabicKufi;
    font-size: 14px;
    background: #FFF;
    color: black;
    background-size: contain;

}

/*body#landing-page {
    background: url('../img/landing/item-sky.png') no-repeat center top #fff;
}*/

a {
    text-decoration: none !important;
    outline: none !important;
    color: #FFF;
}

a:hover {
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
}

button {
    background: none;
    outline: none !important;
    border: none;
    cursor: pointer;
}

input {
    background: none;
    outline: none !important;
    border: none;
}

a, a:hover {
    -webkit-transition: color 0.5s, background 0.5s, -webkit-transform 0.5s;
    -moz-transition: color 0.5s, background 0.5s, -moz-transform 0.5s;
    -o-transition: color 0.5s, background 0.5s, -o-transform 0.5s;
    -ms-transition: color 0.5s, background 0.5s, -ms-transform 0.5s;
    transition: color 0.5s, background 0.5s, transform 0.5s;
}

::-moz-selection {
    color: #fff;
    background: #031831;
}

::selection {
    color: #fff;
    background: #031831;
}

.relative {
    position: relative;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.icon {
    display: inline-block;
    background-size: cover !important;
}

.color-yellow {
    color: #FFCC00;
}

.d-block {
    display: block;
}

.font-black-han-sans {
    font-family: DroidArabicKufi !important;
}

/********** helpers ****************************************************************************************************/
/* colors */
.color-pink-dark {
    color: #01214d;
}

.color-white {
    color: #FFF;
}

.color-white-hover:hover {
    color: #FFF !important;
}

.color-white-80 {
    color: rgba(255, 255, 255, 0.8);
}

.color-white-80:hover {
    color: rgba(255, 255, 255, 1);
}

.ltr{
    direction: ltr !important;
}

/* background */
.bg-white {
    background: #fff;
}

.bg-yellow-dark {
    background: #1C84BB;
}

.bg-green {
    background: #1C84BB;
}

/* border colors */
.border-white {
    border-color: #FFF !important;
}

.border-white-30 {
    border-color: rgba(255, 255, 255, 0.3) !important;
}

.border-white-30:hover {
    border-color: #FFF !important;
}

/********** buttons ****************************************************************************************************/

.button {
    display: inline-block;
    border-radius: 0px;
    height: 47px;
    line-height: 47px;
    padding: 0 8px;
    min-width: 120px;
    text-align: center;
    opacity: 0.9;
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
}

.button.white-filled {
    background: #FFFFFF;
}

/********** header *****************************************************************************************************/

header#site-header {
    height: 106px;
    line-height: 106px;
    background: #071932;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

#language-container{
    background: #071932;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

header#site-header.transparent,#language-container.transparent {
    background: transparent !important;
}

#site-header .button {
    font-size: 16px;
    font-weight: 100;
    border: solid 1px transparent;
    border-radius: 20px;
    background: #1C84BB;
}

#site-header #logout{
    background: transparent !important;
    border: solid 1px #1C84BB !important;
}

#site-header span {
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    vertical-align: top;
}

#site-title {
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
}

#site-title img {
    width: 120px;
}

#site-country {
    font-weight: 300;
}

#language-container {
    display: none;
}
#home-lg{
    font-size: 16px;
}
#home-xs{
    display: none;
}

@media (max-width: 767.98px) {
    #site-title img {
        display: none;
    }

    #home-lg{
        display: none;
    }

    #home-xs{
        display: block;
        font-size: 13px;
    }

    #change-lang-big{
        display: none;
    }

    #language-container{
        display: block;
    }

    .change-xs-language{
        display: block;
        position: absolute;
        z-index: 1000;
        top: 2px;
    }

    #landing-page .change-xs-language{
        top: 61px;
    }


    #lang-container{
        text-align: center;
        padding: 0;
        top: 0;
    }

    header#site-header {
        line-height: 50px;
        height: 56px;
        text-align: center;
    }

    #site-header span {
        font-size: 15px;
    }

    #site-header .button {
        display: block;
        margin-top: 4px;
        margin-left: 0 !important;
    }

    #site-title {
        margin-top: 2px;
    }
   /* #landing-recent{
        top: 0;
    }
    #landing-recent header h2{
        font-size: 20px;
        color: black;
    }*/
}

/********** landing ****************************************************************************************************/
/* title section */
#title-section {
    position: relative;
    height: 500px;
    background: url('../img/landing/item-sky.png') no-repeat center top #fff;
    overflow: hidden;
    /*background-size: cover;*/
    padding-top: 100px;
    background-color: #082A4B;
}

#title-section h1 {
    opacity: 0.8;
    font-family: DroidArabicKufi;
    font-size: 64px;
    color: #FFFFFF;
    letter-spacing: -1.28px;
    margin: 15px 0 0 0;
}

#title-section h4 {
    font-size: 20px;
    color: #815600;
    letter-spacing: 1.43px;
    font-weight: 300;
}

#title-section .image {
    position: absolute;
    top: 0;
    height: 400px;
    width: 100%;
    background: no-repeat center bottom;
    background-size: contain;
}

/* landing recent */
#landing-recent {
    position: relative;
    top: -72px;
    z-index: 9999;
}

#landing-recent header h2 {
    margin-bottom: 17px;
    text-align: center;
    font-weight: normal;
    font-size: 24px;
    color: white;
}

@media (max-width: 1100px) {
    #title-section {
        height: 400px;
        padding-top: 0;
    }
}

@media (max-width: 767.98px) {
    #title-section {
        height: 250px;
    }

    #title-section .container {
        padding: 0;
    }

    #title-section .image {
        height: 250px;
        background-size: contain;
    }

    body {
        background-position-y: 96px;
    }
    #landing-recent{
        position: relative;
        top: unset;
    }
    #landing-recent header h2{
        font-size: 20px;
        color: black;
    }
}

#title-section #ground {
    background-image: url("../img/landing/item-ground.png");
    z-index: 2;
}

#title-section #cloud-1 {
    background-image: url("../img/landing/item-cloud-1.png");
    z-index: 1;
}

#title-section #cloud-2 {
    background-image: url("../img/landing/item-cloud-2.png");
    z-index: 1;
}

#title-section #cloud-3 {
    background-image: url("../img/landing/item-cloud-3.png");
    z-index: 1;
}

#title-section #cloud-4 {
    background-image: url("../img/landing/item-cloud-4.png");
    z-index: 1;
}

#title-section #sun {
    background-image: url("../img/landing/item-sun.png");
    z-index: 1;
}

#title-section img {
    display: none;
}

main {
    margin-top: -3px;
}

#landing-recent-title{
    background: #0F162F;
}

#landing-recent-title h2{
    color: white;
}

#landing-recent #recent-container {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    margin: 0;
    min-height: 290px;
}

#landing-recent #recent-container:before {
    position: absolute;
    top: -12px;
    content: '';
    width: 100%;
    height: 14px;
    background: url("../img/landing/item-bubble-item.png") no-repeat center bottom;
    background-size: contain;
    display: block;
}

#landing-recent #recent-container h3 {
    font-size: 26px;
    color: #202020;
}

#landing-recent #recent-container h5 {
    font-size: 15px;
    margin-bottom: 15px;
    color: #000000;
}

#landing-recent #recent-container p {
    font-size: 16px;
    color: #202020;
    font-weight: bold;
    margin-bottom: 5px;
}

#landing-recent #recent-container p:last-child {
    font-size: 14px;
    font-weight: 300;
}

#landing-recent #recent-container b {
    font-size: 12px;
    color: #000000;
    font-weight: 500;
}

#landing-recent #recent-container small {
    font-size: 12px;
    color: #202020;
    font-weight: 500;
    opacity: 0.8;
}

#landing-recent #recent-container .button {
    border-radius: 0px !important;
    font-size: 16px;
}

#landing-recent .recent-apps .number {
    font-size: 44px;
    font-weight: bold;
    line-height: 70px;
    height: 70px;
    color: rgba(27, 7, 50, 0.30);
}

#landing-recent .recent-apps img {
    width: 70px;
    height: 70px;
}

#landing-recent .recent-apps .media-body p {
    font-size: 16px;
    color: #202020;
    font-weight: 500;
}

/* category navigation */
#category-navigation {
    position: relative;
}

#category-navigation .category-item {
    padding: 0 15px;
    line-height: 40px;
    font-size: 15px;
    color: #8C8297;
    display: block;
}

#category-navigation .active .category-item {
    color: #43C8F5;
}

#category-navigation .slick-slider {
    /*direction: ltr;*/
    /*border-bottom: solid 1px rgba(131, 130, 128, 0.2);*/
}

#category-navigation .slick-slide .active {
    border-bottom: solid 3px #43C8F5;
}

#category-navigation .slick-prev, #category-navigation .slick-next {
    width: auto;
    height: auto;
}

#category-navigation .slick-arrow.slick-disabled {
    display: none !important;
}

#category-navigation .slick-prev i, #category-navigation .slick-next i {
    color: #43C8F5;
    font-size: 42px;
}

#category-navigation .slick-next i {
    margin-right: -50%;
}

#category-navigation .slick-prev i {
    margin-left: -50%;
}

#category-navigation .slick-next {
    right: 0;
    z-index: 5;
    background-image: linear-gradient(270deg, #071932 0%, rgba(138, 36, 46, 0.00) 100%);
}

#category-navigation .slick-prev {
    left: 0;
    z-index: 5;
    background-image: linear-gradient(-270deg, #071932 0%, rgba(138, 36, 46, 0.00) 100%);
}

.slick-track {
    right: 0;
    left: auto;
}

/* recent apps */
#recent-apps-section {
    position: relative;
}

#recent-apps-section img {
    border-radius: 20px;
}

/********** footer *****************************************************************************************************/
#site-footer {
    padding-top: 26px;
    margin: 26px 0;
}

#site-footer p, #site-footer a {
    opacity: 0.5;
    font-size: 14px;
    color: #202020;
}

#site-footer ul li {
    display: inline-block;
    vertical-align: middle;
}
#site-footer-logo{
    width: 120px;
}

#site-footer ul li img {
    width: 32px;
}

/********** registration modal *****************************************************************************************/
.registration-modal .modal-header {
    height: 133px;
    text-align: center;
    padding: 0;
    border: none;
}

.registration-modal .modal-title {
    line-height: normal;
    display: block;
    margin: 0 auto;
    font-family: DroidArabicKufi;
    font-size: 25px;
    color: #202020;
    font-weight: 400;
}

.registration-modal p {
    font-size: 15px;
    color: #202020;
    font-weight: 500;
    text-align: center;
    margin: 0;
}

.registration-modal .error, .registration-modal .success {
    font-size: 13px;
    color: #BF1000;
    font-weight: 500;
    text-align: center;
    display: block;
    margin-bottom: 8px;
}

.registration-modal .success {
    color: #00BF5B;
}

.registration-modal .input-text {
    border: 1px solid rgba(32, 32, 32, 0.2);
    border-radius: 8px;
    line-height: 47px;
    height: 47px;
    padding: 0 16px;
    font-family: DroidArabicKufi;
    font-weight: 700;
    font-size: 15px;
    color: rgba(32, 32, 32, 0.5);
    text-align: center;
    width: 100%;
}

.registration-modal .input-text::placeholder {
    color: rgba(32, 32, 32, 0.5);
}

.registration-modal .input-text::-webkit-input-placeholder {
    color: rgba(32, 32, 32, 0.5);
}

.registration-modal .input-text:-ms-input-placeholder {
    color: rgba(32, 32, 32, 0.5);
}

.registration-modal .input-text::-moz-placeholder {
    color: rgba(32, 32, 32, 0.5);
    opacity: 1;
}

.registration-modal .input-text:-moz-placeholder {
    color: rgba(32, 32, 32, 0.5);
    opacity: 1;
}

.registration-modal .modal-footer {
    border: none;
}

/********** app details ************************************************************************************************/
#app-details {
    position: relative;
}

#app-details #app-icon {
    border-radius: 45px;
    width: 100%;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.20);
}

#app-details h1 {
    font-family: DroidArabicKufi;
    font-size: 20px;
    color: #202020;
    margin: 15px 0 8px 0;
    font-weight: 500;
}

#app-details h4 {
    font-family: DroidArabicKufi;
    font-size: 12px;
    margin: 0;
    font-weight: bold;
    color: #7F7F7F;
    margin-bottom: 8px;
}

#app-details button, #app-details .button {
    font-family: DroidArabicKufi;
    font-size: 15px;
}

#app-details #app-description {
    background: #FFFFFF;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.10);
    border-radius: 0px;
}

#app-details #app-description strong {
    font-size: 16px;
    color: #202020;
    font-weight: 300;
}

#app-details #app-description .details-title {
    position: relative;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.3);
    font-weight: 500;
    margin: 0;
}

#app-details #app-description .details-title:before {
    position: relative;

    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 9px;
    height: 9px;
    border: none;
    color: rgba(0, 0, 0, 1);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #43C8F5;
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    -webkit-transform-origin: 0 100% 0deg;
    transform-origin: 0 100% 0deg;
    display: inline-block;
}

#app-details #app-description b {
    opacity: 0.8;
    font-size: 12px;
    color: #202020;
    font-weight: 300;
}

#related-apps .slick-prev, #related-apps .slick-next {
    width: auto;
    height: 127px;
    z-index: 5;
    margin-top: -3px;
}

#related-apps .slick-arrow.slick-disabled {
    display: none !important;
}

#related-apps .slick-prev i, #related-apps .slick-next i {
    color: gray;
    font-size: 80px;
}

#related-apps .slick-next {
    right: -1px;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, #FFFFFF 100%);
}

#related-apps .slick-prev {
    left: -1px;
    background-image: linear-gradient(-90deg, rgba(255, 255, 255, 0.00) 0%, #FFFFFF 100%);
}

#related-apps img {
    width: 125px;
    height: 125px;
    border-radius: 20px;
    margin: 0 15px;
}

#related-apps #related-title {
    opacity: 0.5;
    font-size: 16px;
    color: #202020;
    font-weight: 500;
    display: block;
    margin-bottom: 20px;
    margin-left: 15px;
}

/* ----------------------------------------------------
	FOOTER STYLES
------------------------------------------------------- */
.quickLinksFooter li a i {
    margin-right: 4px;
    vertical-align: middle;
}

#copyrights {
    background: #030305;
    padding: 20px 0 10px;
    color: #c3c3c3;
    display: block;
    position: relative;
}
.border-top-white{
    border-top: 1px solid white;
}

.change-language, .change-language:hover{
    background: #071932;
    border: none;
    color: white;
}

#footer-style-2,
#footer-style-3,
#footer-style-1 {
    background: #030305;
    padding: 40px 0;
    display: block;
    position: relative;
}

#footer-style-1 ul {
    list-style: none;
    padding-left: 0px !important;
    margin-bottom: 8px;
}


#footer-style-1 .widget h3 {
    font-size: 20px;
    color: #fff;
}

#footer-style-1 .social-icons span a {
    border: none;
    color: #686868;
}

.footer-menu ul {
    list-style: none;
    list-style-position: outside;
    display: inline;
    margin: 5px;
}

.footer-menu li {
    line-height: 12px;
    float: left;
    padding: 0 7px;
}

.footer-menu li a {
    color: #c3c3c3;
}

.social-footer a {
    border: solid 2px #fff;
    border-radius: 50%;
    padding: 7px;
    display: block;
}

.social-footer img {
    width: 16px;
    height: 16px;
    display: block;
}

.social-footer li {
    display: inline-block;
    margin-right: 8px;
}

.footer_post li img {
    padding: 4px;
    width: 80px;
}

.footer_post li {
    float: left;
    margin: 2px;
    list-style: none;
}

#footer-style-2 .widget .title h3,
#footer-style-3 .widget .title h3,
#footer-style-1 .widget .title h3 {
    text-transform: none;
}
footer #unsubscribe div{
    line-height: 35px;
}
footer #unsubscribe span{
    opacity: 0.5;
    font-size: 16px;
    color: #202020;
    letter-spacing: -0.32px;
}

footer #unsubscribe a,footer #unsubscribe a:hover{
    border: 1px solid #ddd;
    color: #202020;
}

.border-blue{
    border: 1px solid #1C84BB;
}

.color-blue{
    color: #1C84BB;
}
.placeholder{
    font-size: 12px !important;
}

.favorite-icon.selected{
    background-image: url("../img/game/ic-favorite-fill.png");
    background-repeat: no-repeat;
    background-size: contain;

}

.favorite-icon {
    background-image: url("../img/game/ic-favorite-line.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#game-box{
    width: 168px;
}





