/********** initialize *************************************************************************************************/
body {
    direction: ltr;
    text-align: left;
}

@media (min-width: 768px){
    #login-button{
        text-align: right !important;
    }
}
@media (max-width: 767.98px) {
    .change-xs-language{
        left: 40%;
    }
}

#language-container-big{
    text-align: left;
}
.copyright{
    text-align: right;
}

#app-details #app-description .details-title:before {
    margin-left: 5px;
}

.footer-menu ul {
    float: left;
}

.social-footer li {
    margin-left: 8px;
}

.favorite-icon.selected{
    background-position: left;
}

#site-title{
    text-align: right;
}

#game-box{
    padding-left: 1rem !important;
}

.slick-slide {
    float: left;
}

.media-body{
    padding-left: 15px;
}

#lang-container{
    padding-left: 150px;
    top: -10px;
}


