/********** initialize *************************************************************************************************/
body {
    direction: rtl;
    text-align: right;
}

@media (min-width: 768px) {
    #login-button {
        text-align: left !important;
    }
}

@media (max-width: 767.98px) {
    .change-xs-language{
        right: 40%;
    }
}

#language-container-big{
    text-align: right;
}

#site-title{
    font-size: 16px;
}

.copyright{
    text-align: left;
}
#app-details #app-description .details-title:before {
    margin-right: 5px;
}

.footer-menu ul {
    float: right;
}

.social-footer li {
    margin-right: 8px;
}

.favorite-icon {
    background-position: right;
}

#site-title {
    text-align: left;
}

#game-box {
    padding-right: 1rem !important;
}

.slick-slide {
    float: right;
}

#category-navigation .slick-next {
    right: auto !important;
    left: 0 !important;
    -webkit-transform: rotate(180deg) translateY(20px);
    -moz-transform: rotate(180deg) translateY(20px);
    -ms-transform: rotate(180deg) translateY(20px);
    -o-transform: rotate(180deg) translateY(20px);
    transform: rotate(180deg) translateY(20px);
}

#category-navigation .slick-prev {
    left: auto !important;
    right: 0 !important;

    -webkit-transform: rotate(180deg) translateY(20px);
    -moz-transform: rotate(180deg) translateY(20px);
    -ms-transform: rotate(180deg) translateY(20px);
    -o-transform: rotate(180deg) translateY(20px);
    transform: rotate(180deg) translateY(20px);
}

#lang-container{
    padding-right: 150px;
    top: -10px;
}