@font-face {
    font-family: Shabnam;
    src: url('../webfonts/shabnam/Shabnam.eot');
    src: url('../webfonts/shabnam/Shabnam.eot?#iefix') format('embedded-opentype'),
    url('../webfonts/shabnam/Shabnam.woff') format('woff'),
    url('../webfonts/shabnam/Shabnam.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Shabnam;
    src: url('../webfonts/shabnam/Shabnam-Bold.eot');
    src: url('../webfonts/shabnam/Shabnam-Bold.eot?#iefix') format('embedded-opentype'),
    url('../webfonts/shabnam/Shabnam-Bold.woff') format('woff'),
    url('../webfonts/shabnam/Shabnam-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Shabnam;
    src: url('../webfonts/shabnam/Shabnam-Light.eot');
    src: url('../webfonts/shabnam/Shabnam-Light.eot?#iefix') format('embedded-opentype'),
    url('../webfonts/shabnam/Shabnam-Light.woff') format('woff'),
    url('../webfonts/shabnam/Shabnam-Light.ttf') format('truetype');
    font-weight: 300;
}
