/********** INITIALIZE ************************************************************************************************/
html, body {
    font-family: Shabnam, IranRoboto;
    font-size: 15px;
    background: #616161;
    height: 100%;
}

body > .container {
    min-height: 100%;
}

a {
    text-decoration: none !important;
    outline: none !important;
}

ul {
    padding: 0;
    margin: 0;
}

button {
    background: none;
    outline: none !important;
    border: none;
    cursor: pointer;
}

input, textarea {
    background: none;
    outline: none !important;
    border: none;
    resize: none;
    margin-bottom: 8px;
}

input, select {
    line-height: 40px;
    height: 40px;
    border: none;
    background-color: rgba(0, 0, 0, 0.05) !important;
    font-size: 15px;
    color: #3F3F3F;
    vertical-align: top;
    padding: 0 8px;
    width: 100%;
    border-radius: 3px;
    outline: none;

    -webkit-transition: all 0.5s, -webkit-transform 0.5s;
    -moz-transition: all 0.5s, -moz-transform 0.5s;
    -o-transition: all 0.5s, -o-transform 0.5s;
    -ms-transition: all 0.5s, -ms-transform 0.5s;
    transition: all 0.5s, transform 0.5s;
}

select {
    margin-bottom: 7px;
}

input:focus, select:focus, textarea:focus {
    background-color: #e6e6e6 !important;
    border: none;
}

textarea {
    color: #3F3F3F;
}

a, a:hover,
button, button:hover {
    -webkit-transition: color 0.5s, background 0.5s, -webkit-transform 0.5s;
    -moz-transition: color 0.5s, background 0.5s, -moz-transform 0.5s;
    -o-transition: color 0.5s, background 0.5s, -o-transform 0.5s;
    -ms-transition: color 0.5s, background 0.5s, -ms-transform 0.5s;
    transition: color 0.5s, background 0.5s, transform 0.5s;
}

#push-modal code {
    font-family: inherit;
    display: block;
    margin-top: 25px;
}

::-moz-selection {
    color: #fff;
    background: #FFC107;
}

::selection {
    color: #fff;
    background: #FFC107;
}

.disabled-button, .disabled {
    opacity: 0.5;
}

.relative {
    position: relative;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

main {
    position: relative;
    background: #ECF0F1;
    min-height: 100% !important;
    padding: 0 !important;
}

.icon {
    display: inline-block;
    background-size: cover !important;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.center-margin {
    margin: 0 auto;
}

.btn {
    margin-left: 7px !important;
}

.btn:last-of-type {
    margin-left: 0;
}

.btn-submit, .btn-submit:focus, .btn-submit:active {
    background: #00C853 !important;
    border-radius: 2px;
    height: 38px;
    line-height: 38px;
    color: #fff;
    padding: 0 15px !important;
}

input[type=submit] {
    cursor: pointer;
}

.btn-remove {
    color: #FFF;
    background-color: #E74C3C !important;
    border-color: transparent;
}

.btn-close {
    color: #90A4AE;
    background-color: #fff;
    border-color: #90A4AE;
    border-radius: 2px;
    height: 38px;
    line-height: 38px;
    padding: 0 15px !important;
}

.typeahead {
    z-index: 1051 !important;
}

.inline-block {
    display: inline-block !important;
}

.transparent {
    background: transparent !important;
}

.full-width {
    width: 100%;
}

.p-8 {
    padding: 8px !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

.no-padding-left {
    padding-left: 0 !important;
}

input.date-time-picker {
    background-position-x: -webkit-calc(100% - 10px) !important;
    background-position-x: -moz-calc(100% - 10px) !important;
    background-position-x: calc(100% - 10px) !important;
}

.placeholder-color {
    color: #B9B9B9;
}

.show-on-hover-container .show-on-hover-item-block, .show-on-hover-container .show-on-hover-item-inline-block {
    display: none !important;
}

.show-on-hover-container:hover .show-on-hover-item-block {
    display: block !important;
}

.show-on-hover-container:hover .show-on-hover-item-inline-block {
    display: inline-block !important;
}

.show-on-hover-container .show-on-hover-visible {
    opacity: 0 !important;
}

.show-on-hover-container:hover .show-on-hover-visible {
    opacity: 1 !important;
}

.color-green {
    color: #00C853;
}

.hover-color-green:hover {
    color: #00C853;
}

.color-black {
    color: #000;
}

.hover-color-black:hover {
    color: #000;
}

label {
    margin-bottom: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.material-icons {
    direction: rtl;
}

.btn-link {
    color: #E74C3C;
}

.colorpicker {
    z-index: 99999;
}

select.searchable-select {
    position: absolute;
}

/********** Material BTN ***********************************************************************************************/

/********** TEXTAREA ***************************************************************************************************/

#dashboard-content textarea {
    width: 100%;
    min-height: 75px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    padding: 8px;
    font-size: 15px;
}

/********** CHECKBOX ***************************************************************************************************/

input[type="checkbox"], input[type="radio"] {
    position: absolute;
}

input[type="checkbox"] + label, input[type="radio"] + label {
    vertical-align: middle;
}

input[type="checkbox"] + label:before, input[type="radio"] + label:before {
    content: 'check_box_outline_blank';
    font-size: 26px;
    display: block;
    vertical-align: middle;
    line-height: 26px;
    color: #777;
    margin-bottom: 2px;
}

input[type="checkbox"]:checked + label:before, input[type="radio"]:checked + label:before {
    content: 'check_box';
}

input[type="checkbox"] + input[type="text"], input[type="radio"] + input[type="text"] {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    font-size: 15px;
    color: #3F3F3F;
    margin: 0;
    height: 30px;
    line-height: 30px;
    vertical-align: top;
    padding: 0 8px;
    width: -webkit-calc(100% - 40px) !important;
    width: -moz-calc(100% - 40px) !important;
    width: calc(100% - 40px) !important;
}

input[type="radio"]:disabled, input[type="checkbox"]:disabled {
    cursor: default !important;
}

/********** AUTH *******************************************************************************************************/

.auth-page {
    position: relative;
}

header#auth-header {
    position: relative;
    margin: 0 auto;
    padding: 0;
    height: 150px;
    color: #333;
}

header#auth-header h1 {
    color: #333;
}

.auth-page > section#auth-section {
    margin-top: 0px;
    margin-bottom: 75px;
    background: #fff;
    padding: 30px 30px;
}

#auth-section .panel-heading {
    font-weight: 500;
    margin-bottom: 25px;
    font-size: 15px;
}

#auth-section .material-form-control {
    width: 100%;
    height: 45px;
    line-height: 45px;
    border-bottom: solid 2px #e1e1e1;
}

#auth-section .material-form-group .material-form-control:focus,
#auth-section .material-form-group-inline .material-form-control:focus {
    border: none;
}

#auth-section footer {
    margin-top: 15px;
}

#auth-section .help-block {
    color: #E26868;
    font-size: 12px;
    font-weight: 300;
    margin-top: 2px;
    display: block;
}

#auth-section .has-error .material-form-control {
    border-color: #E26868;
}

#auth-section .has-error .bar:before,
#auth-section .has-error .bar:after {
    background: #E26868 !important;
}

#auth-section input[type=text], #auth-section input[type=password], #auth-section input[type=email] {
    line-height: 40px;
    height: 40px;
    border: none;
    border-radius: 0;
}

#auth-section input[type=text]:focus, #auth-section input[type=password]:focus, #auth-section input[type=email]:focus {
    background-color: #e6e6e6 !important;
    border: none !important;
}

#auth-section button {
    width: 100%;
}

/********** SQUARE BOX *************************************************************************************************/

.square-box {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.square-box:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.square-content {
    position: absolute;
    top: 15px;
    left: 15px;
    bottom: 15px;
    right: 15px;
}

.square-content > div {
    display: table;
    width: 100%;
    height: 100%;
}

.square-content > div > span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

/********** CUSTOM RADIO BUTTON ****************************************************************************************/

.custom-radio {
    display: block;
}

.custom-radio.inline-block {
    display: inline-block;
}

.custom-radio input[type="radio"],
.custom-radio input[type="radio"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    clip: rect(0 0 0 0);
}

.custom-radio input[type="radio"] + label::before,
.custom-radio input[type="radio"] + label::before {
    padding-left: 5px;
}

.custom-radio input[type="radio"]:checked + label::before,
.custom-radio input[type="radio"]:checked + label::before {
    padding-left: 5px;
}

.custom-radio label {
    color: #414141;
    font-weight: normal;
    display: inline-flex;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

/********** GOOGLE MATERIAL ********************************************************************************************/

.material-form-group {
    display: block;
}

.material-form-group-inline {
    display: inline-block;
    vertical-align: middle;
}

.bar {
    position: relative;
    display: block;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #73bfe6;
    transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

.material-form-control:focus {
    border-color: transparent;
}

.material-form-control:focus ~ .bar:before,
.material-form-control:focus ~ .bar:after {
    width: 50%;
}

textarea ~ .bar {
    margin-top: -5px;
}

.material-form-group .material-form-control:focus,
.material-form-group-inline .material-form-control:focus {
    border: none;
}

/* toggle*/
.toggle-label {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 44px;
    background: rgba(34, 31, 31, 0.26);
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s ease;
    vertical-align: middle;
    margin: 0;
}

.toggle-label:after {
    position: absolute;
    left: -2px;
    top: -3px;
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 100px;
    background: #F1F1F1;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
    content: '';
    transition: all 0.3s ease;
}

.toggle-label:active:after {
    transform: scale(1.15, 0.85);
}

.toggle-checkbox:checked ~ label {
    background: #C6C5C5;
}

.toggle-checkbox:checked ~ label:after {
    left: 20px;
    background: #BFE600;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
}

.toggle-checkbox:disabled ~ label {
    background: #F1F1F1;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
    pointer-events: none;
}

.toggle-checkbox:disabled ~ label:after {
    background: #C6C5C5;
}

.toggle-hidden {
    display: none;
}

/********** MODAL *************************************************************************************************/

.modal .modal-header {
    border: none;
    padding: 20px;
    color: #455A64;
}

.modal .modal-title {
    font-size: 18px;
}

.modal .modal-content {
    border: none;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 5px 0 #787878;
    box-shadow: 0 0 5px 0 #787878;
}

.modal .material-form-group {
    height: 65px;
}

.modal input[type=text],
.modal input[type=email] {
    width: 100%;
    line-height: 35px;
    border-bottom: solid 1px #e1e1e1;
}

.modal .modal-footer {
    border: none;
    text-align: left;
}

@media (min-width: 576px) {
    .modal-sm {
        max-width: 400px;
    }
}

/********** MULTI TAB **************************************************************************************************/

.nav-tabs {
    border: none;
}

.nav-tabs .nav-link {
    border-radius: 0;
    border: none;
    padding: 7px 30px;
    font-size: 14px;
    color: #B3B3B3;
}

.nav-tabs .nav-link.no-padding {
    padding: 7px 0;
}

.nav-tabs .nav-link.disabled,
.nav-tabs .nav-link.disabled:focus,
.nav-tabs .nav-link.disabled:hover {
    border: none;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:focus,
.nav-tabs .nav-link.active:hover,
.nav-tabs .nav-item.open .nav-link,
.nav-tabs .nav-item.open .nav-link:focus,
.nav-tabs .nav-item.open .nav-link:hover {
    border: none;
    color: #4C4C4C !important;
    border-bottom: solid 4px #00C853 !important;
}

.nav-tabs .nav-link.active.no-border,
.nav-tabs .nav-link.active.no-border:focus,
.nav-tabs .nav-link.active.no-border:hover,
.nav-tabs .nav-item.open .nav-link.no-border,
.nav-tabs .nav-item.open .nav-link.no-border:focus,
.nav-tabs .nav-item.open .nav-link.no-border:hover {
    border: none !important;
    margin-bottom: 1px;
}


.nav-tabs a {
    position: relative;
}

.nav-tabs a .badge {
    position: absolute;
    left: 0;
    top: 0;
    background: #D8D8D8;
    border-radius: 6px;
    display: inline-block;
    font-size: 10px;
    color: #4C4C4C;
    padding: 0 4px;
}

.sidebar-badge {
    position: absolute;
    top: 10px;
    background: #D8D8D8;
    border-radius: 6px;
    display: inline-block;
    font-size: 10px;
    color: #4C4C4C;
    padding: 0 4px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    margin-right: 7px;
}

/********** POPOVER ****************************************************************************************************/

.popover {
    padding: 24px 24px 18px 24px !important;
    border: none !important;
    border-radius: 2px !important;
    -webkit-box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.2);
    text-align: justify;
}

.popover-title {
    background-color: transparent !important;
    border-bottom: none !important;
    border-radius: 0 !important;
    color: #455A64;
    padding-bottom: 8px !important;
}

.popover-content {
    padding-top: 0 !important;
}

.popover.popover-right::before {
    border-right-color: rgba(0, 0, 0, 0.10) !important;
}

.popover.popover-bottom::before, .popover.popover-bottom::after, .popover.bs-tether-element-attached-top::before, .popover.bs-tether-element-attached-top::after {
    left: 20%;
}

/********** PAGINATION *************************************************************************************************/

.pagination-container {
    margin: 0 auto !important;
}

.page-item:first-child .page-link {
    border: none;
}

.page-item:last-child .page-link {
    border-radius: 0;
}

.page-item.active .page-link, .page-item.active .page-link:focus, .page-item.active .page-link:hover {
    background-color: #000;
    border-color: #000;
    border-radius: 3px;
}

.page-link {
    color: #455A64;
    background-color: transparent;
    border: none;
}

.page-link:focus, .page-link:hover {
    color: #000;
    background-color: transparent;
}

.pagination-lg .page-link {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
}

.page-item.disabled .page-link, .page-item.disabled .page-link:focus, .page-item.disabled .page-link:hover {
    color: inherit;
    background-color: transparent;
    border: none;
    opacity: 0.4;
}

.pagination .icon {
    width: 24px;
    height: 24px;
}

#toggle-admin-create {
    cursor: pointer;
}

/********** SIDEBAR ****************************************************************************************************/

#sidebar {
    position: relative;
    min-height: 100% !important;
    padding: 0;
}

#sidebar header {
    background: #616161;
    color: #fff;
    height: 39px;
    line-height: 39px;
    padding: 0 30px;
    text-align: center;
}

#sidebar header a {
    color: inherit;
}

#sidebar > ul {
    padding: 0;
}

#sidebar > ul li {
    display: block;
    list-style: none;
    height: 48px;
    line-height: 48px;
    padding: 0;
}

#sidebar > ul li a, #sidebar > ul li button {
    color: #fff;
    font-weight: 300;
    display: inline-block;
    padding: 0;
    width: 100%;
    font-style: normal;
    position: relative;
}

#sidebar > ul li.active {
    background: #212121;
    color: #fff;
}

#sidebar > ul li a:hover, #sidebar > ul li button:hover,
#sidebar > ul li.active a, #sidebar > ul li.active button {
    color: #fff !important;
}

#sidebar > ul li .icon {
    margin: 0 10px;
    vertical-align: middle;
    display: inline-block;
}

#sidebar > ul li .icon:before {
    display: block;
    height: 24px;
    width: 24px;
    font-size: 24px;
    text-align: center;
    color: #e1e1e1;
}

#sidebar > ul li.active {
    border-right: solid 5px #00C853;
}

#sidebar > ul li.active .icon:before {
    color: #FFF;
}

#sidebar > ul li .dashboard-icon:before {
    content: 'ic_dashboard';
}

#sidebar > ul li .category-icon:before {
    content: 'ic_view_module';
}

#sidebar > ul li .news-icon:before {
    content: 'ic_speaker_notes';
}

#sidebar > ul li .user-icon:before {
    content: 'person';
}

#sidebar > ul li .operator-icon:before {
    content: 'ic_perm_contact_calendar';
}

#sidebar > ul li .role-icon:before {
    content: 'ic_accessibility';
}

#sidebar > ul li .settings-icon:before {
    content: 'ic_settings';
}

#sidebar > ul li .video-icon:before {
    content: 'ic_videocam';
}

#sidebar > ul li .audio-icon:before {
    content: 'ic_audiotrack';
}

#sidebar > ul li .article-icon:before {
    content: 'ic_border_color';
}

#sidebar > ul li .home-icon:before {
    content: 'ic_home';
}

#sidebar > ul li .social-icon:before {
    content: 'ic_share';
}

#sidebar > ul li .update-icon:before {
    content: 'ic_system_update_alt';
}

/********** HEADER *****************************************************************************************************/

header#header {
    position: relative;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    padding: 0 21px;
    border-bottom: solid 1px #fff;
    background: #616161;
    color: #fff;
}

#header img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #b3b3b3;
}

#header strong {
    font-weight: normal;
}

#header a {
    font-size: inherit;
    color: inherit;
}

#header #language-picker .btn-group {
    line-height: 34px;
    height: 34px;
}

#header #language-picker .btn-default {
    background: #b3b3b3;
    border-radius: 0;
    min-width: 100px;
    color: #fff;
    margin: 0 !important;
}

header#header li {
    display: inline-block;
}

header#header li:last-child {
    margin: 0;
}

#header .icon {
    font-size: 15px;
    vertical-align: middle;
    opacity: 0.7;
}

#header .icon:hover {
    opacity: 1;
}

#header .badge {
    position: absolute;
    top: 30%;
    margin-left: -18px;
    padding: 0;
    text-align: center;
    background: #E74C3C;
    color: #fff;
    width: 18px;
    height: 18px;
    font-size: 12px;
    line-height: 18px;
    border-radius: 50%;
}

#header .material-form-group-inline {
    line-height: 40px !important;
}

/********** FLASH MODAL ************************************************************************************************/

.dropdown-toggle::after {
    line-height: 34px;
    color: #7DA1B3;
    -ms-transform: rotate(0deg) !important;
    -webkit-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
}

.dropdown-menu {
    top: 97%;
    min-width: 100px;
    color: #546E7A;
    padding: 0;
    border-radius: 0;
    border: 0;
}

.dropdown-item {
    color: #546E7A;
    line-height: 25px;
    padding: 3px 1rem;
}

.dropdown-item:focus, .dropdown-item:hover {
    background: #EEE;
}

.dropdown-menu {
    border: solid 1px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.dropdown-toggle::after {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.btn-group.open {
    -webkit-box-shadow: 0 0 10px 0 #D1D1D1;
    box-shadow: 0 0 10px 0 #D1D1D1;
}

/********** FLASH MODAL ************************************************************************************************/

.flash-modal .modal-content {
    padding: 40px;
}

.flash-modal .modal-body {
    padding: 0px;
}

.flash-modal .icon {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto 30px;
}

.flash-modal b {
    color: #455A64;
    font-size: 18px;
    display: block;
    padding-bottom: 10px;
}

.flash-modal span {
    color: #607D8B;
    font-size: 12px;
    display: block;
}

.flash-modal span:last-of-type {
    margin-bottom: 32px;
}

.flash-modal .btn-submit {
    padding-left: 30px;
    padding-right: 30px;
}

@media (min-width: 576px) {
    .flash-modal .modal-sm {
        max-width: 300px;
    }
}

/********** DASHBOARD MAIN *********************************************************************************************/

#dashboard-main {
    position: relative;
    padding-top: 25px;
}

#dashboard-main #chart-controller .dropdown-menu {
    width: 170px;
    top: 95%;
}

#dashboard-main #chart-controller button, #dashboard-main #chart-controller a {
    font-size: 14px !important;
}

#dashboard-main #dashboard-stats {
    position: relative;
    width: 100%;
    height: 350px;
    float: left;
    direction: rtl !important;
    margin-top: 25px;
    border-radius: 5px;
    overflow: hidden;
}

.chart svg {
    font-family: inherit !important;
}


.chart .highcharts-tooltip, .chart .highcharts-tooltip span {
    font-family: inherit !important;
}

#dashboard-main #total-stats {
    margin-top: 20px;
}

#dashboard-main header {
    padding: 50px 0;
    margin: 0;
}

#dashboard-main #dashboard-main-carousel {
    position: relative;
}

#dashboard-main header h3 {
    font-size: 24px;
    color: #0A4766;
}

/********** MAIN CONTENT ***********************************************************************************************/

#dashboard-content {
    /*padding: 8px 0 0 0;*/
    padding: 0;
    background: transparent;
}

#dashboard-content #admin-search-container {
    position: relative;
    margin: 0 auto;
}

#dashboard-content #admin-search {
    outline: none;
    border: none;
    line-height: 30px;
    width: 170px;
    background-position-x: calc(100% - 5px);
    margin: 0;
}

#dashboard-content #page-icon {
    padding: 0 48px;
    margin: 0 0 25px 0;
}

#dashboard-content #page-icon #page-logo .icon {
    width: 100px;
    height: 100px;
    vertical-align: bottom;
}

#dashboard-content #page-icon #page-action .icon {
    width: 50px;
    height: 50px;
}

#dashboard-content #page-icon h3 {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 24px;
    font-weight: normal;
    color: #455A64;
}

#dashboard-content .multi-tab {
    padding: 0;
    margin: 0 0 16px 0;
    height: 60px;
    background: #FFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.10);
}

#dashboard-content .table-section {
    padding: 10px 20px;
    margin: 0;
    background: #ECF0F1;
}

#dashboard-content .table-section header {
    margin: 10px 0 20px 0;
}

#dashboard-content .table-section header h3 {
    font-size: 14px;
    color: #4C4C4C;
}

#dashboard-content .table-section .material-form-control {
    width: 100%;
    height: 45px;
    line-height: 45px;
    border-bottom: solid 1px #eceeef;
    color: #b3b3b3;
}

#dashboard-content.no-editable .material-form-control:focus ~ .bar:before,
#dashboard-content.no-editable .material-form-control:focus ~ .bar:after {
    width: 0%;
}

#dashboard-content.no-editable #add-question-submit-mask {
    padding: 1px 6px;
    margin-top: -2px;
    display: block;
}

#dashboard-content .table-section .table {
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.10);
    border-radius: 5px;
    margin: 0 0 8px 0;
    border: none;
}

#dashboard-content .table-section .table thead th {
    font-weight: 300;
    border-width: 1px;
    color: #95A5A6;
    text-align: right;
    font-size: 12px;
}

#dashboard-content .table-section tr > td:last-of-type a,
#dashboard-content .table-section tr > td:last-of-type button {
    opacity: 1;
}

#dashboard-content .table-section tr:hover a,
#dashboard-content .table-section tr:hover button {
    opacity: 1 !important;
}

#dashboard-content .table-section tr:hover a,
#dashboard-content #force-update-page button {
    opacity: 1 !important;
}

#dashboard-content .table-section .table img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-left: 10px;
}

#dashboard-content .table-section .table .icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    vertical-align: middle;
}

#dashboard-content .table-section .delete-item {
    width: 32px !important;
    height: 32px !important;
    border-radius: 0 !important;
}

#dashboard-content .table-section .table .remove-icon {
    width: 24px;
    height: 24px;
}

#dashboard-content .table-section .table .reject-order {
    width: 24px;
    height: 24px;
}

#dashboard-content .table-section .table tbody tr:hover .icon {
    /*background-color: #FFA000;*/
}

#dashboard-content .table-section .table td, #dashboard-content .table-section .table .user-name a {
    color: #607D8B;
    vertical-align: middle;
}

#dashboard-content .table-section .table.vertical-top td {
    vertical-align: top;
}

#dashboard-content .table-section .table:not(.no-hover) tbody tr:hover {
    /*border-left: solid 4px #FFA000;*/
}

#dashboard-content .table-section .table:not(.no-hover) tr:hover td {
    background: #f1f1f1;
}

#dashboard-content .table-section .table td[scope=row] {
    color: #0288D1;
}

#dashboard-content .table-section .table td:first-child[scope=row] {
    background: #d9d9d9;
    color: #222;
}

#dashboard-content .table-section .table tr:hover td[scope=row] {
    background: #bfe600;
}

#dashboard-content .table-section .card,
#dashboard-content .table-section .media-container {
    padding: 8px;
    border: none;
    border-radius: 0;
}

#dashboard-content .table-section .media-container #media-header, #dashboard-content .table-section .media-container #media-header button {
    font-size: 14px;
    color: #7F7F7F;
}

#dashboard-content .table-section .media-container #media-header button {
    color: #AF2727;
}

#dashboard-content .table-section .card {
    padding: 0;
    background: #FFFFFF;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.10);
}

#dashboard-content .table-section .media-container {
    position: relative;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.10);
    border-radius: 3px;
    margin: 0 0 8px 0;
}

#dashboard-content .table-section .media-container > header {
    font-size: 14px;
    color: #4C4C4C;
    margin-bottom: 15px;
}

#dashboard-content .table-section .media-container > div {
    padding: 0;
}

#dashboard-content .table-section .card .card-block {
    padding: 8px 0;
}

#dashboard-content .table-section .card .card-block.card-image {
    position: relative;
    width: 100%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    padding: 0;
    color: #FFFFFF;
}

#dashboard-content .table-section .card .card-block.card-image:before {
    content: "";
    display: block;
    padding-bottom: 50%;
    background: rgba(5, 14, 29, 0.66);
}

#dashboard-content .table-section .card .card-block.card-image .image-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#dashboard-content .table-section .card .card-block.card-image .image-content h4 {
    font-size: 20px;
}

#dashboard-content .table-section .card .card-block.card-image .image-content .play-icon {
    width: 42px;
    height: 42px;
    background-size: contain;
    display: block;
    margin: 0 auto;
}

#dashboard-content .table-section .card .card-block.cart-desc, #dashboard-content .table-section .card .cart-footer {
    padding: 7px;
}

#dashboard-content .table-section .card .cart-footer {
    /*position: absolute;
    width: 100%;
    bottom: 0;*/
}

#dashboard-content .table-section .card .card-block.cart-desc p, #dashboard-content .table-section .card .cart-footer p {
    font-size: 12px;
    color: #4C4C4C;
}

#dashboard-content .table-section .card .cart-footer p {
    margin: 0;
}

#dashboard-content .table-section .card .cart-footer p span {
    color: rgba(128, 128, 128, 0.50);
}

#dashboard-content .table-section .card .cart-footer a {
    font-size: 15px;
    color: #00C853;
}

#dashboard-content .table-section .card .card-img-top {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}

#dashboard-content .table-section .card.videos .card-img-top:not(.placeholder)::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#dashboard-content .table-section .card .card-img-top img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

#dashboard-content .table-section .card .card-title {
    font-size: 12px;
    line-height: 24px;
    color: #0A4766;
}

#dashboard-content .table-section .card .card-ft,
#dashboard-content .table-section .media-container .media-ft {
    font-size: 10px;
    color: #474747;
}

#dashboard-content .table-section .media-container .media-ft:first-of-type {
    margin-left: 16px;
}

#dashboard-content .table-section .media-container .media-tools > div {
    padding-top: 8px;
}

#dashboard-content .table-section .media img {
    margin-left: 16px;
    width: 80px !important;
    height: 80px;
}

#dashboard-content .table-section .media h5 {
    font-size: 13px;
    color: #000;
    font-weight: bold;
    line-height: 28px;
}

#dashboard-content .table-section .media .media-body {
    position: relative;
    width: 100%;
    overflow: hidden;
}

#dashboard-content .table-section .media span {
    font-size: 12px;
    color: #82868E;
    font-weight: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    width: 100%;
}

#dashboard-content .table-section .sortable-header {
    position: relative;
    background: #212121;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
    border-radius: 3px;
    font-size: 12px;
    color: #FFFFFF;
    font-weight: 100;
    line-height: 40px;
    text-align: center;
    margin-bottom: 16px;
}

#dashboard-content .table-section .sortable-header > div:after {
    position: absolute;
    left: 0;
    height: 50%;
    top: 25%;
    width: 1px;
    background: #888;
    content: '';
}

#dashboard-content .table-section .sortable-header a {
    display: block;
    width: 100%;
    color: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#dashboard-content .table-section .sortable-header .icon {
    display: inline-block;
    width: 8px;
    height: 12px;
    background-size: contain !important;
    vertical-align: middle;
    margin-left: 3px;
}

#dashboard-content .table-section .sortable-header > div:last-child:after {
    content: normal;
}

#dashboard-content .table-section .sortable-rows {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.10);
    border-radius: 5px;
    font-size: 12px;
    color: #4D4D4D;
    line-height: 25px;
    text-align: center;
    margin-bottom: 8px;
}

#dashboard-content .table-section .sortable-rows > div {
    min-height: 35px;
}

#dashboard-content .table-section .sortable-rows.fixed-height > div {
    line-height: 35px;
}

#dashboard-content .table-section .sortable-rows img {
    display: block;
    margin: 0 auto;
    padding: 7px 0;
}

#dashboard-content .table-section .sortable-rows .icon {
    display: inline-block;
    width: 22px;
    height: 22px;
    background-size: contain !important;
    vertical-align: middle;
}

#dashboard-content .table-section .link-icon {
    width: 23px;
    font-size: 22px;
    vertical-align: middle;
}

#dashboard-content .table-section .link-icon:before {
    content: 'ic_link';
}

#dashboard-content .user-status.online {
    color: #00C853 !important;
}

#dashboard-content .user-status.offline {
    color: #af2727 !important;
}

#dashboard-content .input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#dashboard-content .input-file + label,
#dashboard-content .daily-container img {
    position: relative;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    margin: 15% auto .5rem auto;
    overflow: hidden;
    padding: 0;
    /* 10px 20px */
}

#dashboard-content .input-file:focus + label,
#dashboard-content .input-file.has-focus + label {
    outline: none;
}

#dashboard-content .grand-container {
    position: relative;
}

#dashboard-content #grand-page {
    position: relative;
    margin: 0 auto;
}

#dashboard-content #grand-page .grand-container {
    position: relative;
    margin: 0 auto;
    background: #FFFFFF;
    border: 1px solid #DEE1E2;
    margin-bottom: 24px;
}

#dashboard-content #grand-page .grand-container:last-child {
    margin-bottom: 0;
}

#dashboard-content .grand-container .square-box > div {
    background: #F5F5F5;
    overflow: hidden;
    border-radius: 50%;
}

#dashboard-content .grand-container .square-box > div img {
    width: 100%;
}

#dashboard-content .grand-container .input-file + label {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

#dashboard-content .grand-container .details-container {
    padding-top: 30px;
}

#dashboard-content .grand-container .details-container .material-form-group:first-of-type {
    margin-bottom: 25px;
}

#dashboard-content .grand-container .details-container .grand-btn {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: cover !important;
}

#dashboard-content .grand-container .details-container {
    padding-bottom: 14px;
}

#dashboard-content .grand-container .details-container li {
    display: inline-block;
}

#dashboard-content .grand-container .details-container li:last-child {
    margin: 0;
}

#dashboard-content .grand-container .details-container h3 {
    font-weight: bold;
    font-size: 16px;
    color: #0A4766;
}

#dashboard-content .grand-container .details-container p {
    font-size: 12px;
    color: #0A4766;
    margin-top: 26px;
}

/* notifications */
#dashboard-content #send-notification {
    position: relative;
    margin: 0;
    background: #fff;
}

#dashboard-content #send-notification header {
    background-position-y: 12px;
    height: 96px;
    width: 100%;
    display: block;
    margin-top: 30px;
}

#dashboard-content #send-notification section {
    margin: 0;
    padding: 0 30px 30px 30px;
}

#dashboard-content #send-notification section #send-notification-container {
    width: 100%;
    display: block;
    margin: 0 auto;
    -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
    padding: 8px;
    border-radius: 5px;
}

#dashboard-content #send-notification #send-notification-container .checkboxes:first-child {
    padding-right: 0;
}

#dashboard-content #send-notification #send-notification-container .checkboxes:last-child {
    padding-left: 0;
}

#dashboard-content #send-notification #send-notification-container #submit-area, #dashboard-content #send-notification #send-notification-container .submit-area {
    margin-top: 8px;
}

#dashboard-content #send-notification #send-notification-container #submit-area button, #dashboard-content #send-notification #send-notification-container .submit-area button {
    border-radius: 5px;
    margin-top: 8px;
}

.star-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../../img/admin/star.svg") no-repeat center;
    background-size: cover;
    vertical-align: middle;
}

/* questions */
#dashboard-content .not-editable button[type=submit] {
    display: none;
}

#dashboard-content .not-editable .edit-questions, #dashboard-content .editable .edit-questions {
    font-size: 15px;
    color: #00C853;
}

#dashboard-content .not-editable .delete-questions, #dashboard-content .editable .delete-questions {
    font-size: 15px;
    color: #d50000;
}

#dashboard-content .editable textarea:focus {
    border: solid 2px #00C853;
}

/* modal */
#assign-device-modal .nav-tabs .nav-item {
    width: 49.7%;
    text-align: center;
}

#assign-device-modal .modal-body {
    color: #455A64;
}

#assign-device-modal .modal-body .table {
    border: none;
}

#assign-device-modal .modal-body .table tbody tr:hover {
    border: none;
}

#assign-device-modal .modal-body .table tr:hover td,
#assign-device-modal .modal-body .table tr td {
    background: transparent;
    border: none;
    padding: 3px 0;
    color: #333;
    font-size: 14px;
}

#assign-device-modal .modal-body .table tr td:first-child {
    width: 120px;
    color: #455A64;
}

#assign-device-modal #ajax-assign-container p {
    padding: 0;
    margin: 0;
    font-size: 14px;
}

#assign-device-modal #ajax-assign-container p:first-child {
    font-size: 15px;
}

#user-detail-head {
    height: 200px;
}

#user-detail-head img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#user-detail-head .media-heading {
    color: #455A64;
    vertical-align: middle;
}

#user-detail-head .icon {
    width: 24px;
    height: 24px;
}

#user-detail-head .edit-user {
    margin-left: 4px;
}

#user-detail-head .media-left {
    padding-right: 30px;
}

#user-detail-head p {
    color: #607D8B;
    margin-bottom: 5px;
}

#dashboard-content #user-details {
    padding: 0 48px;
    margin: 0;
}

#dashboard-content #user-details table {
    width: 100%;
    color: #455A64;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 35px;
}

#dashboard-content #user-details table td:first-child {
    width: 130px;
    color: #607D8B;
    letter-spacing: 1.6px;
}

.reject-modal .reject-order-header, #logout-modal .reject-order-header {
    position: relative;
    font-weight: 500;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

.reject-modal .icon, #logout-modal .icon, .reject-modal .icon {
    width: 50px;
    height: 50px;
}

.reject-modal .alert-icon, #logout-modal .alert-icon, .reject-modal .alert-icon {
    margin: 15px 0;
}

.reject-modal strong, #logout-modal strong {
    width: 100%;
    font-weight: 500;
}

.reject-modal textarea, #logout-modal textarea {
    border-bottom: solid 2px #e1e1e1;
    width: 100%;
    height: 65px;
}

@-webkit-keyframes top-down {
    0% {
        top: 75%;
    }
    50% {
        top: calc(50% - 0.5px);
    }
    100% {
        top: 25%;
    }
}

@-moz-keyframes top-down {
    0% {
        top: 75%;
    }
    50% {
        top: calc(50% - 0.5px);
    }
    100% {
        top: 25%;
    }
}

@-ms-keyframes top-down {
    0% {
        top: 75%;
    }
    50% {
        top: calc(50% - 0.5px);
    }
    100% {
        top: 25%;
    }
}

@-o-keyframes top-down {
    0% {
        top: 75%;
    }
    50% {
        top: calc(50% - 0.5px);
    }
    100% {
        top: 25%;
    }
}

@keyframes top-down {
    0% {
        top: 75%;
    }
    50% {
        top: calc(50% - 0.5px);
    }
    100% {
        top: 25%;
    }
}

/********** UPLOADER ***************************************************************************************************/

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 100%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: none;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile-6 + label {
    color: #000;
}

.inputfile-6 + label {
    border: none;
    padding: 0;
    width: 100%;
}

.inputfile-6:focus + label,
.inputfile-6.has-focus + label,
.inputfile-6 + label:hover {
}

.inputfile-6 + label span,
.inputfile-6 + label strong {
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.inputfile-6 + label span {
    width: -webkit-calc(100% - 115px) !important;
    width: -moz-calc(100% - 115px) !important;
    width: calc(100% - 115px) !important;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
    background-color: rgba(0, 0, 0, 0.05) !important;
    border-radius: 5px;
    font-size: 14px;
    text-align: left;
    padding: 1px 15px;
    font-weight: normal;
}

.inputfile-6 + label strong {
    color: #f1e5e6;
    background-color: #000;
    display: inline-block;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    padding: 0 35px;
    font-weight: normal;
    font-size: 15px;
    width: 110px;
    text-align: center;
}

.inputfile-6:focus + label strong,
.inputfile-6.has-focus + label strong,
.inputfile-6 + label:hover strong {
    /*background-color: #000;*/
}

.inputfile:disabled + label strong {
    background: #D6D6D6;
    color: #fff;
}

@media screen and (max-width: 50em) {
    .inputfile-6 + label strong {
        display: block;
    }
}

.bold-span span {
    font-weight: bold;
}

.color-preview {
    display: block;
    margin: 4px auto;
    color: #fff;
    border-radius: 5px;
    width: 70px;
    line-height: 25px;
    height: 25px;
    font-family: IranRoboto;
    font-size: 11px;
}

/** tags ***************************************************************************************************************/
.bootstrap-tagsinput {
    padding: 0;
    border: none;
    box-shadow: none;
    height: 40px;
    line-height: 40px;
}

.bootstrap-tagsinput input {
    max-width: 100%;
    font-size: 15px;
}

.bootstrap-tagsinput .tag {
    color: #999;
    font-size: 14px;
    font-weight: normal;
    background: rgba(0, 0, 0, 0.05);
    line-height: 40px;
    padding: 0 7px;
    vertical-align: middle;
}

.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
    box-shadow: none;
    color: #000;
}

/** froala *************************************************************************************************************/

.fr-box.fr-basic.fr-top .fr-wrapper + div, a[href*=froala] {
    display: none !important;
}

.fr-box {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.05) !important;
}

.fr-box.fr-basic.fr-top .fr-wrapper {
    background-color: rgba(0, 0, 0, 0.0) !important;
}


.fr-popup .fr-arrow {
    display: none !important;
}

button[id|=imageManager] {
    display: none !important;
}

.fr-wrapper blockquote {
    margin: 0 1rem 0;
    font-style: italic;
}

.fr-img-wrap .fr-inner {
    display: block;
    color: #6D6D6D;
    margin-top: 10px;
}

.fr-img-wrap .fr-inner:after {
    display: block;
    height: 1px;
    width: 200px;
    margin: 10px auto 0 auto;
    background: #CACACA;
    content: '';
}

/* chosen */
.chosen-container-active .chosen-choices {
    border: none;
    box-shadow: none;
}

.chosen-container-multi .chosen-choices {
    position: relative;
    overflow: hidden;
    margin: 0;
    background-color: #fff;
    background-image: none;
    border-radius: 3px !important;
    box-shadow: none;
    line-height: 40px !important;
    height: 40px;
    border: none !important;
    background-color: rgba(0, 0, 0, 0.05) !important;
    font-size: 15px !important;
    color: #3F3F3F !important;
    vertical-align: top;
    padding: 0 8px !important;
    width: 100% !important;
    outline: none;

    -webkit-transition: all 0.5s, -webkit-transform 0.5s;
    -moz-transition: all 0.5s, -moz-transform 0.5s;
    -o-transition: all 0.5s, -o-transform 0.5s;
    -ms-transition: all 0.5s, -ms-transform 0.5s;
    transition: all 0.5s, transform 0.5s;
}

.chosen-rtl .chosen-choices li.search-choice {
    margin: 0 0 0 3px !important;
    padding: 0 !important;
    font-size: 14px;
    color: #34495E;
}

.chosen-rtl .chosen-choices li.search-choice:after {
    content: '،';
    display: inline-block;
    vertical-align: middle;
}

.chosen-rtl .chosen-choices li.search-choice:last-of-type:after {
    content: normal;
}

.chosen-container-multi .chosen-choices li {
    vertical-align: middle;
    line-height: 38px !important;
    background: none !important;
    border: none !important;
}

.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
    display: none;
}

.chosen-container-multi .chosen-choices li.search-field {
    min-width: 150px;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    margin: inherit;
    outline: inherit;
    background: inherit;
    box-shadow: inherit;
    font-family: inherit;

    line-height: 38px !important;
    height: 40px !important;
    padding: 0 3px !important;
    border: none !important;
    border-radius: 0 !important;
    font-size: 14px !important;
    color: #d8d8d8 !important;
    width: 100% !important;
}

.chosen-container-single .chosen-single, .chosen-container-active.chosen-with-drop .chosen-single {
    background: transparent;
}

.chosen-container-single .chosen-single {
    box-shadow: none;
    line-height: 40px;
    height: 40px;
    border: none;
    background-color: rgba(0, 0, 0, 0.05) !important;
    font-size: 15px;
    color: #3F3F3F;
    vertical-align: top;
    padding: 0 8px;
    width: 100%;
    border-radius: 3px;
    outline: none;
}

.chosen-container-single .chosen-single div b {
    margin-top: 8px;
}

.chosen-container .chosen-results, .chosen-container-single .chosen-search {
    background: rgba(0, 0, 0, 0.05);
}

.chosen-container .chosen-results li {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}

.chosen-container .chosen-results li.highlighted {
    background: #212121;
    border-right: solid 5px #00C853;
    color: #fff;
}

.chosen-container-active.chosen-with-drop .chosen-single, .chosen-container .chosen-drop {
    border-color: rgba(0, 0, 0, 0.05);
}

.chosen-container-active.chosen-with-drop .chosen-single {
    box-shadow: none;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    color: inherit !important;
}

.chosen-container-multi .chosen-choices li.search-choice {
    line-height: 28px !important;
    box-shadow: none;
    background: #ddd !important;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    top: 12px;
}

/* tooltip */
tooltip {
    background: red;
    color: white;
    border-radius: 3px;
    padding: 0 2px;
}

/* typeahead */
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}

.twitter-typeahead .tt-hint {
    display: none;
}

.tt-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    cursor: pointer;
}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
}

.tt-suggestion:hover,
.tt-suggestion:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #00C853;
}



/* hex dropdown */
.hex-dropdown {
    line-height: 40px;
    height: 40px;
    border: none;
    background-color: rgba(0, 0, 0, 0.05) !important;
    font-size: 15px;
    color: #3F3F3F;
    vertical-align: top;
    padding: 0 8px;
    width: 100%;
    border-radius: 3px;
    outline: none;

    -webkit-transition: all 0.5s, -webkit-transform 0.5s;
    -moz-transition: all 0.5s, -moz-transform 0.5s;
    -o-transition: all 0.5s, -o-transform 0.5s;
    -ms-transition: all 0.5s, -ms-transform 0.5s;
    transition: all 0.5s, transform 0.5s;
}

.hex-dropdown .dropdown-menu .wrapper {
    max-height: 250px;
    overflow-y: scroll;
}

/* easy auto complete */
.easy-autocomplete input {
    border: none !important;
    box-shadow: none !important;
}