/********** INITIALIZE ************************************************************************************************/
html, body {
    direction: rtl;
}

/**********Input********************************************************************************************************/
input.date-time-picker {
    padding-right: 25px;
}

/********** CHECKBOX ***************************************************************************************************/

input[type="checkbox"], input[type="radio"] {
    right: -99999px;
}

/**********NavBar ******************************************************************************************************/
.nav-tabs .nav-item {
    float: right;
}

/**********Sidebar *****************************************************************************************************/
.sidebar-badge {
    margin-right: 7px;
}

#sidebar > ul li a, #sidebar > ul li button {
    text-align: right;
}

#header img {
    margin-right: 8px;
}
#header #language-picker .btn-default {
    text-align: right;
}
header#header li {
    margin-right: 30px;
}
.dropdown-toggle::after {
    margin-right: 10px;
}

.dropdown-menu {
    left: auto;
    right: 0;
}
.text-xs-left .dropdown-menu {
    left: 0;
    right: auto;
}
.text-xs-left .dropdown-menu .dropdown-item {
    text-align: right;
    padding-right: 27px;
}
.dropdown-item {
    text-align: right;
}
/*********************Chart ********************************************************************************************/
.chart .highcharts-container {
    text-align: right !important;
}
.chart .highcharts-tooltip, .chart .highcharts-tooltip span {
    text-align: right !important;
}

#dashboard-content #admin-search {
    padding-right: 30px;
}
#dashboard-content #page-icon #page-action {
    text-align: right;
}
#dashboard-content .table-section .table thead th {
    text-align: right;
}
#dashboard-content .grand-container .details-container li {
    float: left;
    margin-right: 7px;
}
#user-detail-head .media-left {
    padding-right: 30px;
}

.bootstrap-tagsinput input {
    text-align: right;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
    float: right;
}
.fr-toolbar .fr-popup.fr-rtl {
    right: 4px;
    left: auto !important;
}
.fr-wrapper ul {
    padding-right: 15px;
}
.chosen-container-multi .chosen-choices li {
    float: right;
}


